.white {
    color: white;
}

.display-block {
    display: block;
}

.phone {
    margin: 10px 0;
}

@font-face {
  font-family: 'FontAwesome';
  src: url('../font/fonts/fontawesome-webfont.eot?v=4.2.0');
  src: url('../font/fonts/fontawesome-webfont.eot?#iefix&v=4.2.0') format('embedded-opentype'), url('../font/fonts/fontawesome-webfont.woff?v=4.2.0') format('woff'), url('../font/fonts/fontawesome-webfont.ttf?v=4.2.0') format('truetype'), url('../font/fonts/fontawesome-webfont.svg?v=4.2.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.fa-phone:before {
  content: "\f095";
}

.fa-mobile-phone:before,
.fa-mobile:before {
  content: "\f10b";
}

.fa-lg {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}

.hv100 {
    height: 100vh;
}